services:
  frontend:
    build: ./frontend
    environment:
      NEXT_PUBLIC_STAGE: "prod"
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: "backend"
    env_file:
      - ./backend/.env
    environment:
      STAGE: "prod"
